Repository treejh/JUSEYO, pull requests merged in 2025-06, with the labels that each got.

#440 [ front / refact ] 439 : 반납 요청 내역 수정
  backend/src/main/java/com/example/backend/domain/analysis/service/InventoryAnalysisService.java
  backend/src/main/java/com/example/backend/domain/item/service/ItemService.java
  backend/src/main/java/com/example/backend/domain/itemInstance/dto/request/CreateItemInstanceRequestDto.java
  backend/src/main/java/com/example/backend/domain/itemInstance/repository/ItemInstanceRepository.java
  backend/src/main/java/com/example/backend/domain/itemInstance/service/ItemInstanceService.java
  backend/src/main/java/com/example/backend/domain/supply/supplyReturn/controller/SupplyReturnController.java
  backend/src/main/java/com/example/backend/domain/supply/supplyReturn/dto/request/SupplyReturnUpdateRequestDto.java
  backend/src/main/java/com/example/backend/domain/supply/supplyReturn/dto/response/SupplyReturnResponseDto.java
  backend/src/main/java/com/example/backend/domain/supply/supplyReturn/repository/SupplyReturnRepository.java
  backend/src/main/java/com/example/backend/domain/supply/supplyReturn/service/SupplyReturnService.java
  backend/src/main/java/com/example/backend/enums/ApprovalStatus.java
  frontend/src/app/inbound/page.tsx
  frontend/src/app/item/chase/page.tsx
  frontend/src/app/item/manage/edit/[id]/page.tsx
  frontend/src/app/item/return/manage/page.tsx
  frontend/src/app/item/return/page.tsx
  frontend/src/app/item/supplyeturn/create/page.tsx
  frontend/src/app/item/supplyeturn/edit/[id]/page.tsx
  frontend/src/app/item/supplyeturn/page.tsx
  frontend/src/app/item/supplyrequest/edit/[id]/page.tsx
  frontend/src/app/item/supplyrequest/list/manage/page.tsx
  frontend/src/app/item/supplyrequest/list/user/page.tsx
  frontend/src/app/outbound/page.tsx
Labels: refact

#474 [ front / back ] : 알림을 통해서 채팅방 이동
  backend/src/main/java/com/example/backend/domain/chat/chatMessage/service/ChatMessageService.java
  backend/src/main/java/com/example/backend/domain/notification/event/NewChatEvent.java
  backend/src/main/java/com/example/backend/domain/notification/event/NotificationEventListener.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewChatNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/strategy/context/NewChatContext.java
  backend/src/main/java/com/example/backend/domain/notification/strategy/strategy/NewChatStrategy.java
  frontend/src/app/notifications/page.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/stores/notifications.ts
Labels: back, front

#475 [ front / refact ] 473 : 검색바수정
  frontend/src/app/inbound/page.tsx
  frontend/src/app/item/manage/create/page.tsx
  frontend/src/app/item/return/page.tsx
Labels: refact, front

#480 [ front / back ] : dev 에서 main에 코드 push 알림 메시지 수정
  backend/src/main/java/com/example/backend/domain/notification/strategy/strategy/NotReturnedYetStrategy.java
  backend/src/main/java/com/example/backend/domain/notification/strategy/strategy/ReturnDueDateExceededStrategy.java
  backend/src/main/java/com/example/backend/domain/notification/strategy/strategy/SupplyRequestDelayedStrategy.java
Labels: back, front

#486 [ front / refact ] 485 : 리다이렉트 수정
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/signup/select/page.tsx
Labels: refact, front

#491 [ front / refact ] : 채팅방 수정
  frontend/src/components/chat/Chat.tsx
Labels: refact, front

#446 [ front / refact ] 444 : 배포 후 수정
  frontend/src/app/item/iteminstance/manage/page.tsx
  frontend/src/app/item/manage/page.tsx
  frontend/src/app/search/page.tsx
Labels: front

#502 front/refact/490-관리자 페이지 생성 오류 수정
  frontend/src/app/admin/request/page.tsx
Labels: fix
