Repository treejh/JUSEYO, pull requests merged in 2025-05, with the labels that each got.

#11 [ back/feat ] : #2 비품기능추가
  .idea/.gitignore
  .idea/JUSEYO-main.iml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/src/main/java/com/example/backend/category/entity/Category.java
  backend/src/main/java/com/example/backend/category/repository/CategoryRepository.java
  backend/src/main/java/com/example/backend/inventoryIn/controller/InventoryInController.java
  backend/src/main/java/com/example/backend/inventoryIn/dto/request/InventoryInRequestDto.java
  backend/src/main/java/com/example/backend/inventoryIn/dto/response/InventoryInResponseDto.java
  backend/src/main/java/com/example/backend/inventoryIn/entity/InventoryIn.java
  backend/src/main/java/com/example/backend/inventoryIn/repository/InventoryInRepository.java
  backend/src/main/java/com/example/backend/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/inventoryOut/controller/InventoryOutController.java
  backend/src/main/java/com/example/backend/inventoryOut/dto/request/InventoryOutRequestDto.java
  backend/src/main/java/com/example/backend/inventoryOut/dto/response/InventoryOutResponseDto.java
  backend/src/main/java/com/example/backend/inventoryOut/entity/InventoryOut.java
  backend/src/main/java/com/example/backend/inventoryOut/repository/InventoryOutRepository.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/item/controller/ItemController.java
  backend/src/main/java/com/example/backend/item/dto/request/ItemRequestDto.java
  backend/src/main/java/com/example/backend/item/dto/response/ItemResponseDto.java
  backend/src/main/java/com/example/backend/item/entity/Item.java
  backend/src/main/java/com/example/backend/item/repository/ItemRepository.java
  backend/src/main/java/com/example/backend/item/service/ItemService.java
  backend/src/main/java/com/example/backend/itemInstance/entity/ItemInstance.java
  backend/src/main/java/com/example/backend/mainDashboard/entity/MainDashboard.java
  backend/src/main/java/com/example/backend/managementDashboard/entity/ManagementDashboard.java
  backend/src/main/java/com/example/backend/managementDashboard/repository/ManagementDashboardRepository.java
  backend/src/main/java/com/example/backend/supplyRequest/controller/SupplyRequestController.java
  backend/src/main/java/com/example/backend/supplyRequest/dto/request/SupplyRequestRequestDto.java
  backend/src/main/java/com/example/backend/supplyRequest/dto/response/SupplyRequestResponseDto.java
  backend/src/main/java/com/example/backend/supplyRequest/entity/SupplyRequest.java
  backend/src/main/java/com/example/backend/supplyRequest/repository/SupplyRequestRepository.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
Labels: feat

#14 [ back/fix ] : #13 패키지명 수정
  backend/src/main/java/com/example/backend/inventoryOut/controller/InventoryOutController.java
  backend/src/main/java/com/example/backend/inventoryOut/dto/request/InventoryOutRequestDto.java
  backend/src/main/java/com/example/backend/inventoryOut/dto/response/InventoryOutResponseDto.java
  backend/src/main/java/com/example/backend/inventoryOut/entity/InventoryOut.java
  backend/src/main/java/com/example/backend/inventoryOut/repository/InventoryOutRepository.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/item/entity/Item.java
  backend/src/main/java/com/example/backend/item/service/ItemService.java
  backend/src/main/java/com/example/backend/mainDashboard/entity/MainDashboard.java
  backend/src/main/java/com/example/backend/managementDashboard/entity/ManagementDashboard.java
  backend/src/main/java/com/example/backend/managementDashboard/repository/ManagementDashboardRepository.java
  backend/src/main/java/com/example/backend/supplyRequest/controller/SupplyRequestController.java
  backend/src/main/java/com/example/backend/supplyRequest/dto/request/SupplyRequestRequestDto.java
  backend/src/main/java/com/example/backend/supplyRequest/dto/response/SupplyRequestResponseDto.java
  backend/src/main/java/com/example/backend/supplyRequest/entity/SupplyRequest.java
  backend/src/main/java/com/example/backend/supplyRequest/repository/SupplyRequestRepository.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
Labels: fix

#17 [ back / feat ] : #10 docker-compose 파일 생성
  backend/build.gradle.kts
  backend/docker-compose.yml
  backend/src/main/resources/application.yml
Labels: documentation

#31 [ back/refact ] 15 : 비품기능개선
  .idea/modules.xml
  .idea/modules/backend.main.iml
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/inventoryIn/dto/request/InventoryInRequestDto.java
  backend/src/main/java/com/example/backend/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/item/controller/ItemController.java
  backend/src/main/java/com/example/backend/item/repository/ItemRepository.java
  backend/src/main/java/com/example/backend/item/service/ItemService.java
  backend/src/main/java/com/example/backend/supplyRequest/controller/SupplyRequestController.java
  backend/src/main/java/com/example/backend/supplyRequest/repository/SupplyRequestRepository.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
Labels: refact

#28 [Back/feat] 19 : 메인 페이지 CRU
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/mainDashboard/controller/MainDashBoardController.java
  backend/src/main/java/com/example/backend/mainDashboard/dto/MainDashBoardRequestDto.java
  backend/src/main/java/com/example/backend/mainDashboard/dto/MainDashBoardResponseDto.java
  backend/src/main/java/com/example/backend/mainDashboard/repository/MainDashBoardRepository.java
  backend/src/main/java/com/example/backend/mainDashboard/service/MainDashBoardService.java
Labels: feat

#33 [ back / feat ] 27 : 관리자 페이지 CRUD
  backend/build.gradle.kts
  backend/src/main/java/com/example/backend/config/AppConfig.java
  backend/src/main/java/com/example/backend/config/NtsApiConfig.java
  backend/src/main/java/com/example/backend/config/StringToStatusConverter.java
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/mainDashboard/entity/MainDashboard.java
  backend/src/main/java/com/example/backend/managementDashboard/controller/BizInfoController.java
  backend/src/main/java/com/example/backend/managementDashboard/controller/ManagementController.java
  backend/src/main/java/com/example/backend/managementDashboard/dto/ManagementDashBoardRequestDto.java
  backend/src/main/java/com/example/backend/managementDashboard/dto/ManagementDashBoardResponseDto.java
  backend/src/main/java/com/example/backend/managementDashboard/dto/ManagementDashboardUpdateRequestDto.java
  backend/src/main/java/com/example/backend/managementDashboard/entity/ManagementDashboard.java
  backend/src/main/java/com/example/backend/managementDashboard/repository/ManagementDashboardRepository.java
  backend/src/main/java/com/example/backend/managementDashboard/repository/ManagementRepository.java
  backend/src/main/java/com/example/backend/managementDashboard/service/BizInfoService.java
  backend/src/main/java/com/example/backend/managementDashboard/service/ManagementDashboardService.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
  backend/src/main/resources/application.yml
Labels: feat

#38 [ back/refact ] 32 : 비품출고요청서수정
  backend/.gitignore
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/inventoryOut/dto/request/InventoryOutRequestDto.java
  backend/src/main/java/com/example/backend/inventoryOut/dto/response/InventoryOutResponseDto.java
  backend/src/main/java/com/example/backend/inventoryOut/entity/InventoryOut.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/item/controller/ItemController.java
  backend/src/main/java/com/example/backend/item/dto/request/ItemRequestDto.java
  backend/src/main/java/com/example/backend/item/dto/response/ItemResponseDto.java
  backend/src/main/java/com/example/backend/item/entity/Item.java
  backend/src/main/java/com/example/backend/item/repository/ItemRepository.java
  backend/src/main/java/com/example/backend/item/service/ItemService.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
  backend/src/main/java/com/example/backend/supplyRequest/dto/request/SupplyRequestRequestDto.java
  backend/src/main/java/com/example/backend/supplyRequest/dto/response/SupplyRequestResponseDto.java
  backend/src/main/java/com/example/backend/supplyRequest/entity/SupplyRequest.java
  backend/src/main/java/com/example/backend/supplyRequest/repository/SupplyRequestRepository.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
Labels: refact

#43 [back / refact] 42: 부서 CRUD 리팩토링
  backend/src/main/java/com/example/backend/department/controller/DepartmentController.java
  backend/src/main/java/com/example/backend/department/dto/DepartmentCreateRequestDTO.java
  backend/src/main/java/com/example/backend/department/service/DepartmentService.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
Labels: refact

#57 [ back/feat ] 41 : 개별자산단위
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/itemInstance/controller/ItemInstanceController.java
  backend/src/main/java/com/example/backend/itemInstance/dto/request/CreateItemInstanceRequestDto.java
  backend/src/main/java/com/example/backend/itemInstance/dto/request/UpdateItemInstanceStatusRequestDto.java
  backend/src/main/java/com/example/backend/itemInstance/dto/response/ItemInstanceResponseDto.java
  backend/src/main/java/com/example/backend/itemInstance/entity/ItemInstance.java
  backend/src/main/java/com/example/backend/itemInstance/repository/ItemInstanceRepository.java
  backend/src/main/java/com/example/backend/itemInstance/service/ItemInstanceService.java
Labels: feat

#59 [ back/feat ] 34 : 반납 요청 입고 기능
  backend/src/main/java/com/example/backend/converter/StringToInboundConverter.java
  backend/src/main/java/com/example/backend/converter/StringToStatusConverter.java
  backend/src/main/java/com/example/backend/enums/Inbound.java
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/inventoryIn/controller/InventoryInController.java
  backend/src/main/java/com/example/backend/inventoryIn/dto/request/InventoryInRequestDto.java
  backend/src/main/java/com/example/backend/inventoryIn/dto/response/InventoryInResponseDto.java
  backend/src/main/java/com/example/backend/inventoryIn/entity/InventoryIn.java
  backend/src/main/java/com/example/backend/inventoryIn/repository/InventoryInRepository.java
  backend/src/main/java/com/example/backend/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/managementDashboard/controller/ManagementController.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
  backend/src/main/java/com/example/backend/supplyReturn/controller/SupplyReturnController.java
  backend/src/main/java/com/example/backend/supplyReturn/dto/request/SupplyReturnRequestDto.java
  backend/src/main/java/com/example/backend/supplyReturn/dto/request/SupplyReturnStatusUpdateRequestDto.java
  backend/src/main/java/com/example/backend/supplyReturn/dto/response/SupplyReturnResponseDto.java
  backend/src/main/java/com/example/backend/supplyReturn/entity/SupplyReturn.java
  backend/src/main/java/com/example/backend/supplyReturn/repository/SupplyReturnRepository.java
  backend/src/main/java/com/example/backend/supplyReturn/service/SupplyReturnService.java
Labels: feat

#63 [ docs ] 62 : Delete .idea directory
  .idea/.gitignore
  .idea/JUSEYO-main.iml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/backend.main.iml
  .idea/vcs.xml
Labels: docs

#64 [ back/feat ] 60 : 엑셀기능추가: 비품,개별자산단위,입고,출구,비품요청서 가능
  backend/build.gradle.kts
  backend/src/main/java/com/example/backend/export/controller/ExcelExportController.java
  backend/src/main/java/com/example/backend/export/service/ExcelExportService.java
  backend/src/main/java/com/example/backend/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
Labels: feat

#65 [ back / feat ] 58 : 이메일 인증 로직 추가, 임시 비밀번호 이메일 전송 추가
  backend/build.gradle.kts
  backend/src/main/java/com/example/backend/config/MailConfig.java
  backend/src/main/java/com/example/backend/email/controller/EmailController.java
  backend/src/main/java/com/example/backend/email/entity/EmailMessage.java
  backend/src/main/java/com/example/backend/email/service/EmailService.java
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/redis/RedisConfig.java
  backend/src/main/java/com/example/backend/redis/RedisService.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/dto/request/EmailRequestDto.java
  backend/src/main/java/com/example/backend/user/dto/request/EmailVerificationRequest.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
  backend/src/main/java/com/example/backend/utils/CreateRandomNumber.java
  backend/src/main/resources/templates/certificationNumber.html
  backend/src/main/resources/templates/password.html
Labels: feat, back

#68 [ back / feat ] 47 : 알림 이벤트 타입 정의, SSE 연결
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/notification/config/SSEConfig.java
  backend/src/main/java/com/example/backend/notification/controller/NotificationController.java
  backend/src/main/java/com/example/backend/notification/dto/NotificationRequestDTO.java
  backend/src/main/java/com/example/backend/notification/entity/Notification.java
  backend/src/main/java/com/example/backend/notification/entity/NotificationType.java
  backend/src/main/java/com/example/backend/notification/repository/NotificationRepository.java
  backend/src/main/java/com/example/backend/notification/service/NotificationService.java
  backend/src/main/java/com/example/backend/notification/sse/EmitterRepository.java
  backend/src/main/java/com/example/backend/notification/sse/SSEHandler.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
Labels: feat

#69 [ back / feat ] 61 : 통계 기능
  backend/src/main/java/com/example/backend/analysis/controller/InventoryAnalysisController.java
  backend/src/main/java/com/example/backend/analysis/dto/CategorySummaryDTO.java
  backend/src/main/java/com/example/backend/analysis/dto/ItemUsageFrequencyDTO.java
  backend/src/main/java/com/example/backend/analysis/dto/MonthlyInventoryDTO.java
  backend/src/main/java/com/example/backend/analysis/service/InventoryAnalysisService.java
  backend/src/main/java/com/example/backend/export/service/ExcelExportService.java
  backend/src/main/java/com/example/backend/inventoryIn/repository/InventoryInRepository.java
  backend/src/main/java/com/example/backend/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/inventoryOut/repository/InventoryOutRepository.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/item/controller/ItemController.java
  backend/src/main/java/com/example/backend/item/repository/ItemRepository.java
  backend/src/main/java/com/example/backend/item/service/ItemService.java
  backend/src/main/java/com/example/backend/redis/CacheController.java
  backend/src/main/java/com/example/backend/redis/RedisConfig.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
Labels: feat

#79 [ back / feat ] 70 : 비품을 추천하는 기능
  backend/build.gradle.kts
  backend/docker-compose.yml
  backend/recommendation-app/Dockerfile
  backend/recommendation-app/app.py
  backend/recommendation-app/requirements.txt
  backend/src/main/java/com/example/backend/inventoryOut/repository/InventoryOutRepository.java
  backend/src/main/java/com/example/backend/recommendation/controller/RecommendationController.java
  backend/src/main/java/com/example/backend/recommendation/dto/OutHistoryDto.java
  backend/src/main/java/com/example/backend/recommendation/service/OutHistoryService.java
  backend/src/main/java/com/example/backend/recommendation/service/RecommendationService.java
  backend/src/main/resources/application.yml
Labels: feat

#81 [ back / feat ] 80 : 관리 페이지 단건 조회 권한 수정
  backend/src/main/java/com/example/backend/managementDashboard/controller/ManagementController.java
Labels: refact

#83 [ front / chore ] 82 : 프론트엔드 프로젝트 생성
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Labels: front

#89 [ back / feat ] 88 : 같은 관리페이지 내 매니저 조회
  backend/src/main/java/com/example/backend/managementDashboard/controller/ManagementController.java
Labels: feat

#91 [ back / refact ] 90 : 비품요청서수정
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/supplyRequest/controller/SupplyRequestController.java
  backend/src/main/java/com/example/backend/supplyRequest/repository/SupplyRequestRepository.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
Labels: refact

#99 [ back / feat ] 알림 이벤트 타입별 핸들링, 재고 부족 알림 테스트 완료
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/notification/config/SSEConfig.java
  backend/src/main/java/com/example/backend/notification/controller/NotificationController.java
  backend/src/main/java/com/example/backend/notification/dto/NotificationDTO.java
  backend/src/main/java/com/example/backend/notification/entity/NotificationType.java
  backend/src/main/java/com/example/backend/notification/event/ManagementDashboardCreateApproved.java
  backend/src/main/java/com/example/backend/notification/event/NotificationEvent.java
  backend/src/main/java/com/example/backend/notification/event/NotificationEventListener.java
  backend/src/main/java/com/example/backend/notification/event/StockShortageEvent.java
  backend/src/main/java/com/example/backend/notification/event/SupplyRequestApprovedEvent.java
  backend/src/main/java/com/example/backend/notification/event/SupplyRequestCreatedEvent.java
  backend/src/main/java/com/example/backend/notification/event/SupplyRequestRejectedEvent.java
  backend/src/main/java/com/example/backend/notification/event/SupplyReturnCreatedEvent.java
  backend/src/main/java/com/example/backend/notification/repository/NotificationRepository.java
  backend/src/main/java/com/example/backend/notification/service/DashboardCreateApprovedNotificationService.java
  backend/src/main/java/com/example/backend/notification/service/NotificationService.java
  backend/src/main/java/com/example/backend/notification/service/ReturnDueDateMonitoringService.java
  backend/src/main/java/com/example/backend/notification/service/ReturnDueSoonMonitoringService.java
  backend/src/main/java/com/example/backend/notification/service/StockNotificationService.java
  backend/src/main/java/com/example/backend/notification/service/SupplyRequestApprovedNotificationService.java
  backend/src/main/java/com/example/backend/notification/service/SupplyRequestNotificationService.java
  backend/src/main/java/com/example/backend/notification/service/SupplyRequestRejectedNotificationService.java
  backend/src/main/java/com/example/backend/notification/service/SupplyReturnNotificationService.java
  backend/src/main/java/com/example/backend/notification/sse/SSEHandler.java
  backend/src/main/java/com/example/backend/notification/strategy/NotificationStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/ReturnDueDateExceededStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/ReturnDueSoonStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/StockShortageStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/SupplyRequestApprovedStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/SupplyRequestRejectedStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/SupplyRequestStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/SupplyReturnStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/context/DashboardCreateApprovedContext.java
  backend/src/main/java/com/example/backend/notification/strategy/context/ItemStockContext.java
  backend/src/main/java/com/example/backend/notification/strategy/context/ReturnDueDateContext.java
  backend/src/main/java/com/example/backend/notification/strategy/context/SupplyRequestApprovalContext.java
  backend/src/main/java/com/example/backend/notification/strategy/context/SupplyRequestContext.java
  backend/src/main/java/com/example/backend/notification/strategy/context/SupplyReturnContext.java
  backend/src/main/java/com/example/backend/notification/strategy/factory/NotificationStrategyFactory.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
  backend/src/main/java/com/example/backend/supplyReturn/repository/SupplyReturnRepository.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/repository/UserRepository.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
Labels: feat

#97 [ back / feat ] 84 : 비품 구매서 기능 추가
  backend/src/main/java/com/example/backend/enums/Inbound.java
  backend/src/main/java/com/example/backend/exception/ExceptionCode.java
  backend/src/main/java/com/example/backend/export/service/ExcelExportService.java
  backend/src/main/java/com/example/backend/inventoryIn/controller/InventoryInController.java
  backend/src/main/java/com/example/backend/inventoryIn/dto/request/InventoryInRequestDto.java
  backend/src/main/java/com/example/backend/inventoryIn/dto/response/InventoryInResponseDto.java
  backend/src/main/java/com/example/backend/inventoryIn/entity/InventoryIn.java
  backend/src/main/java/com/example/backend/inventoryIn/repository/InventoryInRepository.java
  backend/src/main/java/com/example/backend/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/item/dto/request/ItemRequestDto.java
  backend/src/main/java/com/example/backend/item/dto/response/ItemResponseDto.java
  backend/src/main/java/com/example/backend/item/entity/Item.java
  backend/src/main/java/com/example/backend/item/repository/ItemRepository.java
  backend/src/main/java/com/example/backend/item/service/ItemService.java
  backend/src/main/java/com/example/backend/itemInstance/dto/request/UpdateItemInstanceStatusRequestDto.java
  backend/src/main/java/com/example/backend/itemInstance/dto/response/ItemInstanceResponseDto.java
  backend/src/main/java/com/example/backend/itemInstance/entity/ItemInstance.java
  backend/src/main/java/com/example/backend/itemInstance/repository/ItemInstanceRepository.java
  backend/src/main/java/com/example/backend/itemInstance/service/ItemInstanceService.java
  backend/src/main/java/com/example/backend/registerItem/controller/RegisterItemController.java
  backend/src/main/java/com/example/backend/registerItem/dto/request/PurchaseRequestDto.java
  backend/src/main/java/com/example/backend/registerItem/dto/request/UpdateRegisterItemDto.java
  backend/src/main/java/com/example/backend/registerItem/dto/response/RegisterItemResponseDto.java
  backend/src/main/java/com/example/backend/registerItem/entity/RegisterItem.java
  backend/src/main/java/com/example/backend/registerItem/repository/RegisterItemRepository.java
  backend/src/main/java/com/example/backend/registerItem/service/RegisterItemService.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
  backend/src/main/java/com/example/backend/supplyReturn/controller/SupplyReturnController.java
  backend/src/main/java/com/example/backend/supplyReturn/dto/request/SupplyReturnRequestDto.java
  backend/src/main/java/com/example/backend/supplyReturn/dto/response/SupplyReturnResponseDto.java
  backend/src/main/java/com/example/backend/supplyReturn/entity/SupplyReturn.java
  backend/src/main/java/com/example/backend/supplyReturn/repository/SupplyReturnRepository.java
  backend/src/main/java/com/example/backend/supplyReturn/service/SupplyReturnService.java
Labels: feat, refact

#101 [ back / refact ] 100 : 알림 인증 문제 해결, front 테스트 환경 조성
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/notification/controller/NotificationController.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/stores/notifications.ts
Labels: refact

#95 [ back/refact] 92 : 출고내역수정
  backend/src/main/java/com/example/backend/inventoryOut/controller/InventoryOutController.java
  backend/src/main/java/com/example/backend/inventoryOut/repository/InventoryOutRepository.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/item/repository/ItemRepository.java
Labels: refact

#104 [ front / style ] 98 : 로그인/회원가입 페이지 틀 생성
  frontend/public/logo.png
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/chat/page.tsx
  frontend/src/app/components/Header.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/stores/auth/loginMember.tsx
  frontend/src/types/stompjs.d.ts
  frontend/tailwind.config.js
Labels: feat, front

#106 [ back/feat ] 96 : 개별자산관리기능추가
  backend/src/main/java/com/example/backend/export/controller/ExcelExportController.java
  backend/src/main/java/com/example/backend/item/entity/Item.java
  backend/src/main/java/com/example/backend/itemInstance/controller/ItemInstanceController.java
  backend/src/main/java/com/example/backend/itemInstance/dto/response/ItemInstanceResponseDto.java
  backend/src/main/java/com/example/backend/itemInstance/repository/ItemInstanceRepository.java
  backend/src/main/java/com/example/backend/itemInstance/service/ItemInstanceService.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
Labels: feat

#114 [ front / refact ] 103 : 알림 헤더에 추가, 읽음/모두 읽음 기능 구현
  backend/src/main/java/com/example/backend/notification/controller/NotificationController.java
  backend/src/main/java/com/example/backend/notification/dto/NotificationDTO.java
  backend/src/main/java/com/example/backend/notification/entity/Notification.java
  backend/src/main/java/com/example/backend/notification/repository/NotificationRepository.java
  backend/src/main/java/com/example/backend/notification/service/NotificationService.java
  backend/src/main/java/com/example/backend/security/config/SecurityConfigJuseyo.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/components/Header.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/stores/notifications.ts
Labels: refact

#120 [ front / style } 105 : 홈 페이지 틀 생성 등등
  frontend/.env.development
  frontend/.env.production
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/spinner.gif
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/components/Header.tsx
  frontend/src/app/components/LoadingScreen.tsx
  frontend/src/app/dashboard/create/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/toast-example/page.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Footer/index.ts
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/components/Navigation/index.ts
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/ToastContext.tsx
  frontend/src/stores/auth/loginMember.tsx
  frontend/src/types/global.d.ts
  frontend/src/utils/toast.ts
  frontend/tsconfig.json
Labels: front

#128 [ back / feat ] 126 : 단체 채팅 기능 구현 완료, 유저가 채팅방 나갈 시 Redis에 삭제 예약 키 저장 (1분 TTL)
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/chat/chatMessage/controller/ChatMessageController.java
  backend/src/main/java/com/example/backend/chat/chatMessage/service/ChatMessageService.java
  backend/src/main/java/com/example/backend/chat/chatroom/controller/ChatRoomController.java
  backend/src/main/java/com/example/backend/chat/chatroom/dto/response/ChatRoomResponseDto.java
  backend/src/main/java/com/example/backend/chat/chatroom/service/ChatRoomService.java
  backend/src/main/java/com/example/backend/chat/handler/ChatRoomDeletionScheduler.java
  backend/src/main/java/com/example/backend/redis/RedisService.java
  frontend/src/app/chat/group/page.tsx
  frontend/src/app/chat/user/page.tsx
  frontend/src/components/chat/Chat.tsx
  frontend/src/components/chat/ChatRoomList.tsx
  frontend/src/utils/leaveChatRoom.ts
Labels: feat, back

#148 [ back/feat ] 102 : 비품추적구현
  backend/src/main/java/com/example/backend/chaseItem/controller/ChaseItemController.java
  backend/src/main/java/com/example/backend/chaseItem/dto/request/ChaseItemRequestDto.java
  backend/src/main/java/com/example/backend/chaseItem/dto/response/ChaseItemResponseDto.java
  backend/src/main/java/com/example/backend/chaseItem/entity/ChaseItem.java
  backend/src/main/java/com/example/backend/chaseItem/repository/ChaseItemRepository.java
  backend/src/main/java/com/example/backend/chaseItem/service/ChaseItemService.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/item/repository/ItemRepository.java
  backend/src/main/java/com/example/backend/itemInstance/controller/ItemInstanceController.java
  backend/src/main/java/com/example/backend/itemInstance/entity/ItemInstance.java
  backend/src/main/java/com/example/backend/supplyRequest/controller/SupplyRequestController.java
  backend/src/main/java/com/example/backend/supplyRequest/dto/request/SupplyRequestRequestDto.java
  backend/src/main/java/com/example/backend/supplyRequest/repository/SupplyRequestRepository.java
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
Labels: feat

#157 [ back / feat ] 115 : 알림 추가 - 채팅
  backend/src/main/java/com/example/backend/chat/chatMessage/service/ChatMessageService.java
  backend/src/main/java/com/example/backend/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/notification/controller/NotificationController.java
  backend/src/main/java/com/example/backend/notification/dto/NewChatNotificationDTO.java
  backend/src/main/java/com/example/backend/notification/entity/Notification.java
  backend/src/main/java/com/example/backend/notification/entity/NotificationType.java
  backend/src/main/java/com/example/backend/notification/event/NewChatEvent.java
  backend/src/main/java/com/example/backend/notification/event/NotificationEventListener.java
  backend/src/main/java/com/example/backend/notification/repository/NotificationRepository.java
  backend/src/main/java/com/example/backend/notification/service/NewChatNotificationService.java
  backend/src/main/java/com/example/backend/notification/service/NotificationService.java
  backend/src/main/java/com/example/backend/notification/service/ReturnDueDateMonitoringService.java
  backend/src/main/java/com/example/backend/notification/service/ReturnDueSoonMonitoringService.java
  backend/src/main/java/com/example/backend/notification/strategy/NewChatStrategy.java
  backend/src/main/java/com/example/backend/notification/strategy/context/NewChatContext.java
  backend/src/main/java/com/example/backend/notification/strategy/factory/NotificationStrategyFactory.java
  backend/src/main/java/com/example/backend/user/controller/UserController.java
  backend/src/main/java/com/example/backend/user/service/UserService.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/stores/notifications.ts
Labels: feat

#159 [ back / refact ] 158 : 비품추적서 코드 수정
  backend/src/main/java/com/example/backend/supplyRequest/service/SupplyRequestService.java
Labels: refact

#162 [ front/style ] 153 : 비품요청서 구현
  .idea/.name
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/backend.main.iml
  .idea/vcs.xml
  .idea/workspace.xml
  frontend/src/app/supplyrequest/page.tsx
Labels: front

#167 [ front/style ] 163 : 개별자산구현
  .gitignore
  .idea/workspace.xml
  backend/src/main/java/com/example/backend/itemInstance/controller/ItemInstanceController.java
  backend/src/main/java/com/example/backend/itemInstance/dto/response/ItemInstanceResponseDto.java
  backend/src/main/java/com/example/backend/itemInstance/repository/ItemInstanceRepository.java
  backend/src/main/java/com/example/backend/itemInstance/service/ItemInstanceService.java
  frontend/src/app/iteminstances/page.tsx
  frontend/src/app/settings/categories/add/page.tsx
  frontend/src/app/settings/categories/page.tsx
Labels: front

#178 [ back / fix ] 177 : 반납 요청 승인 시 비품 이미지 추가
  backend/src/main/java/com/example/backend/supplyReturn/controller/SupplyReturnController.java
  backend/src/main/java/com/example/backend/supplyReturn/dto/request/SupplyReturnStatusUpdateRequestDto.java
  backend/src/main/java/com/example/backend/supplyReturn/service/SupplyReturnService.java
Labels: fix

#180 [ docs ] 179: Delete .idea directory
  .idea/workspace.xml
Labels: docs

#184 [ front / style ] 182 : 통계 페이지
  backend/src/main/java/com/example/backend/domain/analysis/controller/InventoryAnalysisController.java
  backend/src/main/java/com/example/backend/domain/analysis/service/InventoryAnalysisService.java
  backend/src/main/java/com/example/backend/domain/item/entity/Item.java
  backend/src/main/java/com/example/backend/domain/itemInstance/repository/ItemInstanceRepository.java
  backend/src/main/java/com/example/backend/domain/itemInstance/service/ItemInstanceService.java
  frontend/.env.development
  frontend/.env.production
  frontend/.gitignore
  frontend/cookies.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/spinner.gif
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/components/Header.tsx
  frontend/src/app/components/LoadingScreen.tsx
  frontend/src/app/dashboard/create/page.tsx
  frontend/src/app/dashboard/inventory-table.tsx
  frontend/src/app/dashboard/page.module.css
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/toast-example/page.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Footer/index.ts
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/components/Navigation/index.ts
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/ToastContext.tsx
  frontend/src/stores/auth/loginMember.tsx
  frontend/src/types/global.d.ts
  frontend/src/utils/toast.ts
  frontend/tsconfig.json
Labels: front

#191 [ fix ] 190 : dev 브랜치 오류 수정
  backend/src/main/java/com/example/backend/domain/item/controller/ItemController.java
  backend/src/main/java/com/example/backend/domain/item/dto/response/ItemLiteResponseDto.java
  backend/src/main/java/com/example/backend/domain/item/repository/ItemRepository.java
  backend/src/main/java/com/example/backend/domain/item/service/ItemService.java
  backend/src/main/java/com/example/backend/domain/itemInstance/service/ItemInstanceService.java
  frontend/.env.development
  frontend/.env.production
  frontend/package-lock.json
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/dashboard/create/page.tsx
  frontend/src/app/dashboard/inventory-table.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/settings/categories/page.tsx
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.tsx
Labels: fix

#206 [ front / style] 203 : 비품 상세 페이지
  frontend/public/wand.png
  frontend/src/app/components/Header.tsx
  frontend/src/app/itemDetail/page.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/stores/notifications.ts
Labels: feat

#210 [ front / style ]195 : 관리 페이지 대시보드 일반 회원용
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/controller/SupplyRequestController.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/repository/SupplyRequestRepository.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/service/SupplyRequestService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/dashboard/page.tsx
Labels: front

#214 [ back / refact ] 208: 알림 필터 수정
  backend/src/main/java/com/example/backend/domain/notification/dto/NotificationResponseDTO.java
  backend/src/main/java/com/example/backend/domain/notification/notificationPolicy/NotificationPolicy.java
  backend/src/main/java/com/example/backend/domain/notification/service/NotificationService.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/stores/notifications.ts
Labels: refact

#220 [ front/style ] 202 : 비품 관리자페이지
  backend/src/main/java/com/example/backend/domain/excel/service/ExcelExportService.java
  backend/src/main/java/com/example/backend/domain/item/controller/ItemController.java
  backend/src/main/java/com/example/backend/domain/item/service/ItemService.java
  backend/src/main/java/com/example/backend/global/exception/ExceptionCode.java
  frontend/next.config.js
  frontend/src/app/item/manage/create/page.tsx
  frontend/src/app/item/manage/edit/[id]/page.tsx
  frontend/src/app/item/manage/page.tsx
Labels: front

#222 [ back / refactor ] 218 : 관리페이지 아이디 조건 추가
  backend/src/main/java/com/example/backend/domain/analysis/service/InventoryAnalysisService.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryIn/repository/InventoryInRepository.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryOut/repository/InventoryOutRepository.java
  backend/src/main/java/com/example/backend/domain/itemInstance/repository/ItemInstanceRepository.java
  backend/src/main/java/com/example/backend/domain/registerItem/repository/RegisterItemRepository.java
  backend/src/main/java/com/example/backend/domain/registerItem/service/RegisterItemService.java
  backend/src/main/java/com/example/backend/domain/supply/supplyReturn/repository/SupplyReturnRepository.java
  backend/src/main/java/com/example/backend/domain/supply/supplyReturn/service/SupplyReturnService.java
Labels: refact

#224 [ front / refactor ] 223 : 일반회원 대시보드 수정
  backend/src/main/java/com/example/backend/domain/recommendation/service/RecommendationService.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/controller/SupplyRequestController.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/dto/response/LentItemDto.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/repository/SupplyRequestRepository.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/service/SupplyRequestService.java
  backend/src/main/java/com/example/backend/domain/supply/supplyReturn/repository/SupplyReturnRepository.java
  backend/src/main/java/com/example/backend/enums/RentStatus.java
  frontend/src/app/dashboard/page.tsx
Labels: front

#227 [ front/refact ] : 221 비품요청서수정
  backend/src/main/java/com/example/backend/domain/item/controller/ItemController.java
  backend/src/main/java/com/example/backend/domain/item/repository/ItemRepository.java
  backend/src/main/java/com/example/backend/domain/item/service/ItemService.java
  backend/src/main/java/com/example/backend/global/security/config/SecurityConfigJuseyo.java
  frontend/src/app/item/supplyrequest/create/page.tsx
  frontend/src/app/item/supplyrequest/list/manage/page.tsx
  frontend/src/app/item/supplyrequest/list/user/page.tsx
  frontend/src/app/settings/categories/add/page.tsx
Labels: front

#230 [ back / refact ] 229 : 거절시 재고차감 해결
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/service/SupplyRequestService.java
Labels: refact, back

#235 [ front / feat ] 233 : 이메일로 비밀번호 찾기 구현
  frontend/src/app/find/email/page.tsx
  frontend/src/app/find/password/page.tsx
Labels: feat, front

#237 [ front / feat ] 236 : 일반 유저 회원가입 구현
  backend/src/main/java/com/example/backend/domain/department/controller/DepartmentController.java
  backend/src/main/java/com/example/backend/domain/department/repository/DepartmentRepository.java
  backend/src/main/java/com/example/backend/domain/department/service/DepartmentService.java
  backend/src/main/java/com/example/backend/domain/managementDashboard/controller/ManagementController.java
  backend/src/main/java/com/example/backend/domain/managementDashboard/service/ManagementDashboardService.java
  backend/src/main/java/com/example/backend/global/security/config/SecurityConfigJuseyo.java
  frontend/src/app/signup/info/page.tsx
  frontend/src/app/signup/manager/page.tsx
  frontend/src/app/signup/member/page.tsx
Labels: feat, front

#240 [ front / feat ] 239 : 로그인 기능 구현
  backend/src/main/java/com/example/backend/domain/user/dto/request/UserLoginRequestDto.java
  frontend/src/app/login/page.tsx
Labels: feat, front

#243 [ back / refact ] 242 : /chat/list API swagger 설명 개선
  backend/src/main/java/com/example/backend/domain/user/controller/UserController.java
Labels: refact, back

#244 [ front / feat ] 241 : 회원 승인, 거부, 요청 조회 페이지 구현
  backend/src/main/java/com/example/backend/domain/user/controller/UserController.java
  backend/src/main/java/com/example/backend/domain/user/dto/response/ApproveUserListForInitialManagerResponseDto.java
  backend/src/main/java/com/example/backend/domain/user/dto/response/ApproveUserListForManagerResponseDto.java
  backend/src/main/java/com/example/backend/domain/user/repository/UserRepository.java
  backend/src/main/java/com/example/backend/domain/user/service/UserService.java
  backend/src/main/java/com/example/backend/global/security/config/SecurityConfigJuseyo.java
  frontend/src/app/settings/approve/page.tsx
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/utils/statusUserList.ts
Labels: feat, front

#245 [ front / feat ] 238 : 일반 매니저 회원가입 구현
  frontend/src/app/signup/manager/page.tsx
  frontend/src/app/signup/managerinfo/page.tsx
  frontend/src/app/signup/select/page.tsx
Labels: feat, front

#247 [ front / feat ] 236 : 최초 매니저 회원가입 구현 완료
  frontend/src/app/signup/initial/page.tsx
Labels: feat, front

#249 [ front / feat ] 248 : 회원 마이페이지 기능, 정보 수정 기능 구현
  backend/src/main/java/com/example/backend/domain/user/service/UserService.java
  backend/src/main/java/com/example/backend/global/security/config/SecurityConfigJuseyo.java
  frontend/src/app/components/Header.tsx
  frontend/src/app/user/page.tsx
  frontend/src/utils/modifyUser.ts
Labels: feat, front

#251 [ front / refactor ] 228 : 로그인-회원가입 페이지 수정
  frontend/src/app/login/type/page.tsx
  frontend/src/app/signup/initial/page.tsx
  frontend/src/app/signup/manager/page.tsx
  frontend/src/app/signup/member/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/app/signup/select/page.tsx
Labels: refact, front

#254 [ front / refactor ] 252 : 관리페이지 생성 페이지 수정
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/admin/request/page.tsx
  frontend/src/stores/auth/loginMember.tsx
Labels: refact

#257 [ front / feat ] 250 : 회원 승인 거부 삭제 구현
  backend/src/main/java/com/example/backend/domain/user/controller/UserController.java
  backend/src/main/java/com/example/backend/domain/user/dto/response/UserProfileResponseDto.java
  backend/src/main/java/com/example/backend/domain/user/service/UserService.java
  backend/src/main/java/com/example/backend/global/security/config/SecurityConfigJuseyo.java
  backend/src/main/java/com/example/backend/global/security/jwt/filter/UserStatusCheckFilter.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/settings/approve/page.tsx
  frontend/src/stores/auth/loginMember.tsx
Labels: feat, front

#259 [ front/style ] 231 : 출고내역생성
  backend/src/main/java/com/example/backend/domain/inventory/inventoryOut/controller/InventoryOutController.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/service/SupplyRequestService.java
  backend/src/main/java/com/example/backend/global/security/config/SecurityConfigJuseyo.java
  frontend/src/app/outbound/page.tsx
Labels: front

#262 [ front/style ] 260 : 개별자산구현
  backend/src/main/java/com/example/backend/domain/itemInstance/dto/response/ItemInstanceResponseDto.java
  backend/src/main/java/com/example/backend/domain/itemInstance/entity/ItemInstance.java
  backend/src/main/java/com/example/backend/domain/itemInstance/service/ItemInstanceService.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/service/SupplyRequestService.java
  frontend/src/app/item/iteminstance/page.tsx
  frontend/src/components/Navigation/Navigation.tsx
Labels: front

#263 [ front / feat ] 258 : 회원 탈퇴 구현
  backend/src/main/java/com/example/backend/domain/user/controller/UserController.java
  backend/src/main/java/com/example/backend/domain/user/dto/request/ValidPasswordRequestDto.java
  backend/src/main/java/com/example/backend/domain/user/entity/User.java
  backend/src/main/java/com/example/backend/domain/user/service/UserService.java
  backend/src/main/java/com/example/backend/global/security/config/SecurityConfigJuseyo.java
  frontend/src/app/login/page.tsx
  frontend/src/app/user/page.tsx
  frontend/src/app/withdraw/page.tsx
  frontend/src/app/withdraw/withdraw.module.css
Labels: feat, front

#268 [ front / fix ] 266 : ClinetLayout 오류 수정
  frontend/src/app/ClientLayout.tsx
Labels: fix, front

#281 [ front/style ] 264 : 일반회원비품페이지연동
  frontend/src/app/item/manage/page.tsx
  frontend/src/app/item/supplyrequest/create/[id]/page.tsx
  frontend/src/app/item/supplyrequest/manage/page.tsx
  frontend/src/app/item/user/page.tsx
  frontend/src/app/itemview/page.tsx
  frontend/src/app/settings/categories/add/page.tsx
  frontend/src/components/Navigation/Navigation.tsx
Labels: front

#285 [ front/style ] 280 : 비품요청서수정
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/service/SupplyRequestService.java
  frontend/src/app/item/supplyrequest/create/[id]/page.tsx
  frontend/src/app/item/supplyrequest/create/page.tsx
  frontend/src/app/item/supplyrequest/list/manage/page.tsx
  frontend/src/app/item/supplyrequest/list/user/page.tsx
Labels: front

#290 [ back / deploy ] Update application-prod.yml
  backend/src/main/resources/application-prod.yml
Labels: back

#300 [ front / deploy ] 297 : 프론트 배포 설정
  frontend/.env.production
  frontend/next.config.js
Labels: front

#318 [ front / feat ] 301 : 검색 페이지 추가
  frontend/src/app/settings/approve/page.tsx
  frontend/src/app/settings/approve/search/page.tsx
Labels: feat, front

#322 [ front / deploy ] 297 : env url 변경
  frontend/.env.production
Labels: front

#321 [ front / feat ] 319 : 사용자 리스트로 승인, 거부, 삭제 구현
  frontend/src/app/settings/approve/page.tsx
Labels: feat, front

#327 [ back / feat ]326 : 웹소켓 배포 프론트 권한 추가
  backend/src/main/java/com/example/backend/domain/chat/config/WebSocketConfig.java
Labels: feat, front

#329 [ front / refact ] 328 : 회원가입 비밀번호 입력 형식 검증 알람
  frontend/src/app/signup/initial/page.tsx
  frontend/src/app/signup/manager/page.tsx
  frontend/src/app/signup/member/page.tsx
Labels: feat, front

#333 [ back / feat ] 332 : time zone 추가
  backend/src/main/resources/application.yml
Labels: feat, back

#334 [ fix ] 330 : 최초 매니저 관리 페이지 생성 안됨 이슈 고침
  frontend/src/app/admin/request/page.tsx
Labels: fix

#338 [ front / refact ] 337 : 채팅 프론트 시간 표시 타임존 설정
  frontend/src/components/chat/Chat.tsx
Labels: refact, front

#342 [ back / refact ] 342 : flask-recommender url 변경
  backend/src/main/resources/application.yml
Labels: back

#344 [ front / refact ] 343: 디자인 수정
  frontend/public/spinner.gif
  frontend/src/app/components/Header.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Navigation/Navigation.tsx
  frontend/src/components/Notification/NotificationBell.tsx
Labels: refact, front

#354 [ front / style ] 323 : 채팅 스타일 변경
  frontend/src/app/chat/group/page.tsx
  frontend/src/app/chat/user/page.tsx
  frontend/src/components/chat/Chat.tsx
  frontend/src/components/chat/ChatRoomList.tsx
  frontend/src/components/chat/UserList.tsx
Labels: front

#356 [ front/style ] 317 : 비품상세페이지연동
  backend/src/main/java/com/example/backend/domain/inventory/inventoryIn/controller/InventoryInController.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryIn/repository/InventoryInRepository.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryIn/service/InventoryInService.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryOut/controller/InventoryOutController.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryOut/service/InventoryOutService.java
  backend/src/main/java/com/example/backend/global/security/config/SecurityConfigJuseyo.java
  frontend/src/app/item/detail/[id]/page.tsx
  frontend/src/app/item/user/page.tsx
  frontend/src/app/itemDetail/page.tsx
  frontend/src/components/Navigation/Navigation.tsx
Labels: front

#360 [ front / refact ] 353 : 출고 내역 페이지 수정
  frontend/src/app/outbound/page.tsx
Labels: front

#366 [ front / fix ] 364 : 채팅방 나가기 오류 수정
  frontend/src/components/chat/Chat.tsx
  frontend/src/components/chat/ChatRoomList.tsx
  frontend/src/utils/leaveChatRoom.ts
Labels: fix

#375 [ front / refact ] 352: eventsource 사용
  backend/src/main/java/com/example/backend/domain/notification/service/NotificationService.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/components/Notification/NotificationBell.tsx
Labels: front

#388 [ front/style ] 357 : 네비바연동
  backend/src/main/java/com/example/backend/domain/inventory/inventoryOut/controller/InventoryOutController.java
  backend/src/main/java/com/example/backend/domain/inventory/inventoryOut/service/InventoryOutService.java
  frontend/src/components/Navigation/Navigation.tsx
Labels: front

#391 [ back / feat ] : refrehToken 발급 오류 해결
  .github/workflows/deploy.yml
  backend/src/main/java/com/example/backend/global/security/jwt/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/global/security/jwt/service/TokenService.java
Labels: feat, back

#395 [ back / refact ] sse 기본 타임아웃 1시간 -> 5분으로 변경
  backend/src/main/java/com/example/backend/domain/notification/entity/NotificationType.java
  backend/src/main/java/com/example/backend/domain/notification/service/NotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/strategy/strategy/SupplyRequestStrategy.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/stores/notifications.ts
Labels: refact, back

#405 [ front / refact ] 394 : 유저 리스트 가나다 순 정렬, 채팅 메시지 최신순 채팅방 정렬
  backend/src/main/java/com/example/backend/domain/chat/chatroom/dto/response/OpponentResponseDto.java
  backend/src/main/java/com/example/backend/domain/chat/chatroom/repository/ChatRoomRepository.java
  backend/src/main/java/com/example/backend/domain/chat/chatroom/service/ChatRoomService.java
  frontend/src/components/chat/ChatRoomList.tsx
  frontend/src/components/chat/UserList.tsx
Labels: refact, back, front

#406 [ front / feat ] : 알림 기능, 채팅 기능 수정 main에 push
  backend/src/main/java/com/example/backend/domain/chat/chatroom/dto/response/OpponentResponseDto.java
  backend/src/main/java/com/example/backend/domain/chat/chatroom/repository/ChatRoomRepository.java
  backend/src/main/java/com/example/backend/domain/chat/chatroom/service/ChatRoomService.java
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/components/chat/ChatRoomList.tsx
  frontend/src/components/chat/UserList.tsx
Labels: refact, back, front

#407 [ front / refact ] 402 : 네비게이션 수정
  frontend/src/app/item/iteminstance/manage/page.tsx
  frontend/src/app/item/manage/page.tsx
  frontend/src/components/Navigation/Navigation.tsx
Labels: front

#410 [ front / refact ] 409 : 페이지들 디자인수정
  frontend/src/app/inbound/page.tsx
  frontend/src/app/item/chase/page.tsx
  frontend/src/app/item/supplyrequest/list/manage/page.tsx
  frontend/src/app/item/supplyrequest/list/user/page.tsx
  frontend/src/app/item/user/page.tsx
  frontend/src/app/outbound/page.tsx
  frontend/src/app/settings/approve/page.tsx
  frontend/src/app/settings/approve/search/page.tsx
  frontend/src/components/Navigation/Navigation.tsx
Labels: front

#411 [ front / refact ] 393 : 개별자산관리수정
  backend/src/main/java/com/example/backend/domain/itemInstance/dto/response/ItemInstanceResponseDto.java
  backend/src/main/java/com/example/backend/domain/itemInstance/entity/ItemInstance.java
  backend/src/main/java/com/example/backend/domain/itemInstance/service/ItemInstanceService.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/controller/SupplyRequestController.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/service/SupplyRequestService.java
  frontend/src/app/item/iteminstance/manage/page.tsx
  frontend/src/app/item/iteminstance/page.tsx
  frontend/src/app/item/supplyrequest/edit/[id]/page.tsx
Labels: refact, front

#419 [ front / refact ] 417 : 네비게이션 디자인 수정
  frontend/src/components/Navigation/Navigation.tsx
Labels: front

#420 [ front / refect ] 412 : 비품조회수정
  frontend/src/app/item/detail/[id]/page.tsx
  frontend/src/app/item/manage/page.tsx
  frontend/src/app/item/user/page.tsx
Labels: refact, front

#422 [ front / refact ] 404: 알림 클릭 시 관련 페이지 이동
  backend/src/main/java/com/example/backend/domain/managementDashboard/service/ManagementDashboardService.java
  backend/src/main/java/com/example/backend/domain/notification/entity/NotificationType.java
  backend/src/main/java/com/example/backend/domain/notification/event/NewDashboardEvent.java
  backend/src/main/java/com/example/backend/domain/notification/event/NotificationEventListener.java
  backend/src/main/java/com/example/backend/domain/notification/notificationPolicy/NotificationPolicy.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewDashboardNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/strategy/context/NewDashboardContext.java
  backend/src/main/java/com/example/backend/domain/notification/strategy/factory/NotificationStrategyFactory.java
  backend/src/main/java/com/example/backend/domain/notification/strategy/strategy/NewDashboardStrategy.java
  frontend/src/app/notifications/page.tsx
  frontend/src/components/Notification/NotificationBell.tsx
Labels: refact, front

#426 [ front / refact ] 424 : 일반 회원 대시보드 알림 디자인 수정
  frontend/src/app/dashboard/page.tsx
Labels: front

#431 [ front / style ] 427 : 검색-비품추천 기능
  frontend/src/app/search/page.tsx
Labels: front

#434 [ front / fix ] 433 : 채팅 디자인 버그 수정
  frontend/src/components/chat/Chat.tsx
Labels: front

#438 [ front / refact ] 435: 반납 관련 알림 이동 매핑, 알림 대상 조건을 승인된 유저로, 오류 수정
  backend/src/main/java/com/example/backend/domain/managementDashboard/service/ManagementDashboardService.java
  backend/src/main/java/com/example/backend/domain/notification/controller/TestNotificationController.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewChatNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewDashboardApprovedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewDashboardRejectedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewManagerApprovedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewManagerNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewManagerRejectedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewUserApprovedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewUserNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/NewUserRejectedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/StockNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/SupplyRequestApprovedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/SupplyRequestNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/SupplyRequestRejectedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/SupplyReturnApprovedNotificationService.java
  backend/src/main/java/com/example/backend/domain/notification/service/alert/SupplyReturnNotificationService.java
  backend/src/main/java/com/example/backend/domain/supply/supplyRequest/service/SupplyRequestService.java
  backend/src/main/java/com/example/backend/domain/user/service/UserService.java
  frontend/src/app/ClientLayout.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/components/Notification/NotificationBell.tsx
  frontend/src/stores/notifications.ts
Labels: refact
